* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 1000) {
  html, body{
    font-size: 80%;
  }
}
@media (max-width: 600) {
  html, body{
    font-size: 70%;
  }
}

.error {
  color: red
}